<h1>List of Suppliers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>
  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= supplier.name %></td>
      <td><%= supplier.email %></td>
      <td><%= supplier.phone %></td>
      <td>
        <%= link_to 'Show', supplier %>
        <%= link_to 'Edit', edit_supplier_path(supplier) %>
        <%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>